     <h1 class="text-center">About Pau</h1>
     <br>
  <section class="row">
    <figure class="col-sm-4 portrait">
      <%= image_tag "baby_pau.jpg" %>
    </figure>

    <div class="col-sm-8">
    <p> I currently work at Search Influence as a Junior Web Developer. I am a trained <strong>mathematician</strong>. In other words I enjoy problem solving (even when it's painful).<br><br>
    I come from a large Mexican family. I grew up in downtown Los Angeles and lived in Santa Cruz and Claremont, both in California, and Mexico City. But moving to New Orleans has been the biggest adventure by far. (Mexico City comes pretty close)</p>

      <aside>
        <h3>Random Facts about me.....</h3>
        <ol>
          <li>Laffy Taffy jokes make me laugh. (On the verge of tears at times)</li>
          <li>I have made fire (without the help of a lighter or matches)</li>
          <li>One of my all time favorite bands is <strong><a href="https://www.youtube.com/watch?v=hZEHb_fySHY">My Ruin</a></strong></li>
          <li>I enjoy watching gory movies Robert Rodriguez, Quentin Tarantino, and Rob Zombie are some of my favorite directors </li>
          <li>My first concert was Ozzfest at age 15</li>
          <li>I love Korean BBQ!!</li>
        </ol>
      </aside>
    </div>
  </section>

