     <h1 class="text-center">About Pau</h1>
     <br>
  <section class="row">
    <figure class="col-sm-4 portrait">
      <%= image_tag "baby_pau.jpg" %>
    </figure>

    <div class="col-sm-8">
    <p class="lead"> I enjoying learning...</p>
    <p> I currently work at Search Influence as a Junior Web Developer, eventhough I am a trained <strong>mathematician</strong>. I am self taught in HTML/CSS. AKA: I have thorougly explored trial and error. <br><br>
    I come from a large Mexican family which includes 5 sisters and 3 brothers. I grew up in downtown Los Angeles and have lived in Santa Cruz and Claremont, both in California. But moving to New Orleans has been the biggest adventure by far.</p>

      <aside>
        <h3>Favorite Bands:</h3>
        <ol>
          <li><a href="http://www.pinkfloyd.com/">Pink Floyd</a></li>
          <li><a href="https://www.youtube.com/watch?v=hZEHb_fySHY">My Ruin</a></li>
          <li><a href="http://www.systemofadown.com/">System of a Down</a></li>
          <li><a href="http://robzombie.com/">Rob Zombie</a></li>
        </ol>
      </aside>
    </div>
  </section>
