<h1>Edit That App</h1>

<%= render 'form' %>
<center>
<button type="button" class="btn btn-info"><%= link_to 'Show', @post_app %></button>&nbsp;<button type="button" class="btn btn-default"><%= link_to 'Back', post_apps_path %></button>
</center>